<div class="row-fluid">

	<div class='span8'>
		<h1>Elovation Games</h1>
		<%= link_to "New Game", new_game_path, class: "btn btn-primary" %>

    <h2>Active Games</h2>
		<%= render partial: 'games', locals: { games: Game.active } %>
    <h2>Inactive Games</h2>
    <%= render partial: 'games', locals: { games: Game.inactive } %>
	</div>

	<div class='span4'>
		<div class='well'>
			<h2>Players</h2>
			<%= link_to "New Player", new_player_path, class: "btn" %>

			<ul id='players-list'>
				<% @players.each do |player| %>
					<li>
					<%= link_to player_path(player) do %>
						<%= image_tag(gravatar_url(player, size: 24)) %>
						<%= player.name %>
					<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

</div>
