<li class="<%= 'new' if result.most_recent? -%>">
  <% result.teams.each_with_index do |team, i| %>
    <% team.players.each do |winner| %>
      <%= link_to winner, class: 'player' do %>
        <%= image_tag(gravatar_url(winner, size: 16)) %>
        <strong> <%= winner.name %></strong>
      <% end %>
    <% end %>

    <% if i == 0 %>
      <% if result.tie? %>
        <small>ties</small>
      <% else %>
        <small>defeats</small>
      <% end %>
    <% end %>
  <% end %>

  <% if show_game %>
    in
    <strong><%= link_to result.game.name, result.game %></strong>
  <% end %>
  <time><%= format_time(result.created_at) %></time>

  <% if result.most_recent? -%>
    <%= link_to "Delete", game_result_path(result.game, result), class: "btn btn-danger", method: :delete, confirm: "Are you sure?" %>
  <% end -%>
</li>
