<%= form_for [@game, @result] do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.select :winner_id, player_options %>
  </div>

  <div>
    <b>Beats</b>
  </div>

  <div>
    <%= f.select :loser_id, player_options %>
  </div>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>
