<%= form_for [@game, @result], :html => {:class => "well form-search"} do |f| %>
  <%= f.error_messages %>

  <% @result.teams.each.with_index do |team, index| %>
    <%= f.fields_for "teams[]", team do |builder| %>
      <%= render "team_fields", f: builder, index: index %>
    <% end %>
  <% end %>

  <span class="inline-submit">
    <%= f.submit :class => "btn btn-primary" %>
  </span>
<% end %>
