<%= form_for [@game, @result], :html => {:class => "well form-search"} do |f| %>
  <%= f.error_messages %>

  <% @result.teams.each.with_index do |team, index| %>
    <%= select "result[teams][#{index}]", "players", player_options, {}, :size => 5, :multiple => true %>
    <% if index != @result.teams.size - 1 %>
      <br />
      <%= select "result[teams][#{index}]", :relation, ["defeats", "ties"] %>
    <% end %>
  <% end %>

  <span class="inline-submit">
    <%= f.submit :class => "btn btn-primary" %>
  </span>
<% end %>
