<div class="hero-unit">
  <h1><%= @player.name %> - <%= @game.name %> (<%= @player.ratings.find_by_game_id(@game).value %>)</h1>
</div>

<div class="row">
  <div class="span4">
    <h2>Head-to-Head Records</h2>
    <ol>
      <%= render :partial => 'head_to_head', :collection => @game.all_ratings %>
    </ol>
  </div>

  <div class="span4 offset1">
    <h2>Recent Games</h2>
    <ul>
      <%= render :partial => 'recent_game', :collection => @player.results.for_game(@game).limit(15).order('created_at desc').includes([:winner, :loser]) %>
    </ul>
  </div>
</div>
