<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="page-header">
      <h1><%= @player.name %> <small><%= @game.name %> Rating: <%= @player.ratings.find_by_game_id(@game).value %></small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Recent Activity</div>
      <% if @game.recent_results.any? %>
        <%= render :partial => 'shared/game_feed', :object => @player.results.for_game(@game).limit(15).order('created_at desc') %>
      <% else %>
        <div class="panel-body">
          No matches have been recorded.
        </div>
      <% end %>
    </div>
  </div>
<!--
  This isn't really right. It needs to not take into account team games.
  <div class="col-md-4 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">Records</div>
      <table class="table">
        <thead>
          <tr>
            <th>Opponent</th>
            <th>W</th>
            <th>L</th>
          </tr>
        </thead>
        <tbody>
          <% @game.all_ratings.each do |rating| %>
            <% opponent = rating.player %>
            <% wins = @player.results.wins.for_game(@game).against(opponent).size %>
            <% losses = @player.results.losses.for_game(@game).against(opponent).size %>
            <% unless @player == opponent %>
            <tr>
              <td><%= opponent.name %> (<%= rating.value %>)</td>
              <td><%= wins %></td>
              <td><%= losses %></td>
            </tr>
            <% end %>
          <% end %>          
        </tbody>   
      </table>
    </div>
  </div>
</div>
-->
