<li>
  <%= image_tag(gravatar_url(rating.player, :size => 32)) %>
  <%= link_to rating.player.name, player_game_path(rating.player, @game) %> - <%= rating.value %>
  (<%= @wins_and_losses[rating.player.id][:wins] %> - <%= @wins_and_losses[rating.player.id][:losses] %>)
</li>
