<li>
  <%= result.created_at.to_s(:short) %>
  -
  <%= image_tag(gravatar_url(result.winner, :size => 24)) %>
  <strong><%= result.winner.name %></strong>
  beat
  <%= image_tag(gravatar_url(result.loser, :size => 24)) %>
  <strong><%= result.loser.name %></strong>
  <% if @deletable_results.include?(result) -%>
    <%= link_to "Delete", game_result_path(@game, result), :class => "btn btn-danger", :method => :delete, :confirm => "Are you sure?" %>
  <% end -%>
</li>
