<div class="page-header">
  <%= link_to "Record a Match", new_game_result_path(@game), :class => "btn btn-primary" %>  
  <h1><%= @game.name %></h1>  
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <% if @game.most_recent_result.present? %>
      <%= render :partial => 'shared/most_recent', :object => @game.most_recent_result %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-7 col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">Recent Matches</div>
      <% if @game.recent_results.any? %>
        <%= render :partial => 'shared/game_feed', :object => @game.recent_results %>
      <% else %>
        <div class="panel-body">
          No matches have been recorded.
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-5 col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">Top Ranked</div>
      <% if @game.recent_results.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>              
              <th>Player</th>
              <th>Rating</th>                            
            </tr>
          </thead>
          <tbody>
            <%= render :partial => 'rating', :collection => @game.all_ratings.select(&:active?) %>
          </tbody>
        </table>
      <% else %>
        <div class="panel-body">
          There are no ranked players.
        </div>        
      <% end %>
    </div>    
  </div>
</div>