<h2><%= @game.name %></h2>
<div>
  <span><%= link_to 'Edit', edit_game_path(@game) %></span>
  <span><%= link_to 'Delete', game_path(@game), :method => :delete, :confirm => "Are you sure you want to delete #{@game.name}?" %></span>
</div>

<div>
  <%= link_to 'Add a result', new_game_result_path(@game) %>
</div>

<h3>Recent Results</h3>
<% if @game.recent_results.any? %>
  <ul>
    <%= render :partial => 'result', :collection => @game.recent_results %>
  </ul>
<% else %>
  <span>No results, play some games!</span>
<% end %>

<h3>Top Rated</h3>
<ol>
  <%= render :partial => 'rating', :collection => @game.top_ratings %>
</ol>
