<h1>Games / <%= @game.name %></h1>
<% if @game.results.empty? %>
  <%= button_to "Delete", game_path(@game), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger" %>
<% else %>
  <%= turbo_frame_tag dom_id(@game), target: "_top" do %>
    <section class="action-buttons">
      <%= link_to 'Rename', edit_game_path(@game), data: { turbo_frame: dom_id(@game) }, class: "btn" %>
    </section>
  <% end %>
<% end %>
<div class="row-fluid">
  <div class="span8">
    <h2>Recent Results</h2>
    <%= link_to "Add Result", new_game_result_path(@game), class: "btn btn-primary" %>
    <% if @game.recent_results.any? %>
      <%= render partial: 'shared/results', object: @game.recent_results, locals: {show_game: false} %>
    <% else %>
      <span>No results, play some games!</span>
    <% end %>
  </div>
  <div class="span4">
    <h2>Player Ratings</h2>
    <table id='ratings'>
      <thead>
        <tr>
          <th>Player</th>
          <th>Rating</th>
          <th>W</th>
          <th>L</th>
          <% if @game.allow_ties %>
            <th>T</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'rating', collection: @game.all_ratings.select(&:active?) %>
      </tbody>
    </table>
    <%= link_to "View All", game_ratings_path(@game) %>
  </div>
</div>
<div>
  <h2>Progress</h2>
  <%= line_chart @chart_data, min: nil, max: nil, height: "800px", xtitle: 'Matches', ytitle: @game.rating_type.capitalize %>
</div>
