<%= form_for @player, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_messages %>

  <h1>Player</h1>
  
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, class: "input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :email, class: "input-xlarge" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
  </div>

  <small class="description attribution">
    Avatar provided by <a href="http://gravatar.com/">Gravatar</a>, a global avatar service.
  </small>

<% end %>
