<h1>
  <%= image_tag(gravatar_url(@player, size: 80)) %>
  <%= @player.name %>
</h1>
  
<section class="action-buttons">
  <span><%= link_to 'Edit Player', edit_player_path(@player), class: "btn btn-primary" %></span>
  <% if @player.results.empty? %>
    <span><%= link_to "Delete", player_path(@player), method: :delete, confirm: "Are you sure?", class: "btn btn-danger" %></span>
  <% end %>
</section>

<div class="row-fluid">
  <div class="span8">
    <h2>Recent Results</h2>
    <% if @player.recent_results.any? %>
      <%= render partial: 'shared/results', object: @player.recent_results, locals: {show_game: true} %>
    <% else %>
      <span>No results, play some games!</span>
    <% end %>
  </div>
  <div class="span4">
    <h2>Ratings</h2>
    <ol>
      <%= render partial: 'rating', collection: @player.ratings %>
    </ol>
  </div>
</div>
