<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Leaders</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="SHORTCUT ICON" href="<%= image_path "favicon.png" %>" />
</head>
<body>
  <%= render 'banner' %>  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
