<!DOCTYPE html>
<html>
  <head>
    <title>Elovation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id='container'>
      <header>
        <%= link_to root_path, class: "brand" do %>
          <div class='brand-name'>Elovation</div>
          <div class='brand-label'>Home</div>
        <% end %>
      </header>
      <div id='main'>
        <%= yield %>
      </div>
    </div>
    <div class="footer">Powered by Elovation</div>
  </body>
</html>
