<!DOCTYPE html>
<html>
<head>
  <title>Strava Ping Pong Ladders</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id='container'>
    <header>
      <%= link_to root_path, :class => "brand" do %>
        <%= image_tag 'logo-strava-pingpong.svg', alt: 'Strava Ping Pong', height: 60, width: 60 %>
        <div class='brand-label'>Home</div>
      <% end %>
    </header>

    <div id='main'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
